/* DragAndDropContainer.css */
.droppable {
    padding: 8px;
    width: 250px;
    margin-top: 300px;
    margin-left: 600px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.draggable {
    padding: 16px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable:active {
    cursor: grabbing;
}
